html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #f3f4f6;
}

a,
a:hover,
a:visited,
a:active {
    display: inline-block;
    color: inherit;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.site-header,
section {
    padding: 0 30px;
    box-sizing: border-box;
}

.site-header {
    width: 30%;
    background-color: #3d4f5d;
    color: #f3f4f6;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    padding-top: 200px;
    overflow-y: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a {
    display: inline-block;
    border: solid 2px #f3f4f6;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

section {
    width: 70%;
    float: right;
}

article {
    margin-top: 60px;
    margin-bottom: 60px;
}

article header {
    margin-bottom: 30px;
}

article h2 {
    margin-bottom: 5px;
    margin-top: 0;
}

article .left-side {
    float: left;
    width: calc(100% - 115px);
}

article header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
}

article .user-image {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
    background-color: red;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.masthead {
    color: #666;
    border-bottom: solid 1px #666;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.byline {
    color: #666;
}

.byline .label {
    padding: 5px;
    display: inline-block;
    color: #f3f4f6;
    font-size: 0.8rem;
}

.label.green {
    background-color: #5aba59;
}

.label.red {
    background-color: #e12c4f;
}

.label.blue {
    background-color: #4f84d0;
}

article a,
article a:hover,
article a:active,
article a:visited {
    color: #4d85cf;
}

article p {
    margin: 0;
}

article .body-copy {
    line-height: 2rem;
}